[user]
	name = sooheon
	email = sooheon.k@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/sooheon/.global_gitignore
  pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[alias]
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = true
	ui = true
[color "status"]
	added = green
	changed = yellow
	untracked = red
[push]
	default = current
[http]
	postBuffer = 157286400
